Package: net.winneonsword.circlelove
Name: CircleLove
Version: 1.0.3
Architecture: iphoneos-arm
Description: A simple lockscreen tweak that has circles! Yeah! Currently works with LockHTML3 and GroovyLock.
Homepage: http://winneonsword.net
Maintainer: Jesse Bryan (WinneonSword) <winneonsword@gmail.com>
Author: Jesse Bryan (WinneonSword) <winneonsword@gmail.com>
Section: Themes
