Package: net.winneonsword.minimality
Name: Minimality
Version: 1.4
Architecture: iphoneos-arm
Description: Minimality is a simple HTML lockscreen theme that can be implemented with LockHTML 3 or any similar tweak that allows HTML for their lockscreen.
Homepage: http://repo.winneonsword.net
Maintainer: Jesse Bryan <winneonsword@gmail.com>
Author: Jesse Bryan <winneonsword@gmail.com>
Section: Themes
