* {
	margin: 0;
	padding: 0;
}

body {
	width: 320px;
	text-align: center;
	color: white;
	font-family: "Gotham", -apple-system-font, sans-serif;
}

div.bg {
	position: absolute;
	/* In case the user doesn't have Wallpaper JPEGifier. */
	background-repeat: no-repeat;
	background-size: 320px auto;
	background-image: url("/var/mobile/Library/SpringBoard/LockBackgroundThumbnail.jpg");
	background-image: url("/var/mobile/Library/SpringBoard/Converted-LockBackground.jpg");
	width: 100%;
	height: 100%;
	visibility: hidden;
	z-index: -1;
}

img {
	position: absolute;
	top: 0;
	left: 0;
}

div.content {
	display: inline-block;
}

div.blur {
	position: absolute;
	width: 124px;
	height: 164px;
	z-index: -1;
}

div.time {
	font-size: 56px;
	line-height: 60px;
	border: 2px solid white;
	width: 120px;
	padding: 20px 0px 20px 0px;
}

div.shadow {
	box-shadow: 0px 0px 20px black;
}

div.hours {
	font-weight: 700;
}

div.date {
	display: none;
	position: relative;
	left: 2px;
	bottom: 23px;
	width: 120px;
	font-size: 12px;
	font-weight: 700;
}

@font-face {
	font-family: "Gotham";
	src: url("gotham_light.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gotham";
	src: url("gotham_book.ttf");
	font-weight: 700;
	font-style: normal;
}