Package: net.winneonsword.incepted
Name: Incepted
Version: 1.0.1
Architecture: iphoneos-arm
Description: Incepted is a lockscreen theme that features a simple "verbal" date and time in neat bars. Designed for GroovyLock and LockHTML3.
Homepage: http://repo.winneonsword.net
Maintainer: Jesse Bryan <winneonsword@gmail.com>
Author: Jesse Bryan <winneonsword@gmail.com>
Section: Themes
