@font-face {
	font-family: 'steelfish';
	src: url('steelfish.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	margin: 0;
	padding: 0;
	padding-top: 80px;
	width: 320px;
	height: 568px;
	color: #FFFFFF;
	opacity: 0.5;
}
#bg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 320px;
	z-index: -1;
}
#day {
	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.6em;
	padding-left: 0.6em;
}
#date {
	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.4em;
	padding-left: 0.4em;
}
#content {
	margin: 0 auto;
	width: 210px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding-top: 8px;
	padding-bottom: 18px;
}
#time {
	text-align: center;
	font-family: 'steelfish';
	font-size: 48px;
	line-height: 35px;
}
