Package: net.winneonsword.cataracs
Name: Cataracs
Version: 1.2.1
Architecture: iphoneos-arm
Description: Cataracs is a realtively simple lockscreen clock / widget that features a minimal clock centered on the lockscreen.
Depiction: http://repo.winneonsword.net/d/net.winneonsword.cataracs.html
Homepage: http://repo.winneonsword.net
Depends: com.groovycarrot.groovyapi, com.darkweaver.wallpaperjpegifier
Maintainer: Jesse Bryan <winneonsword@gmail.com>
Author: Jesse Bryan <winneonsword@gmail.com>
Section: Themes